@define-color backgroundlight #FFFFFF;
@define-color backgrounddark #FFFFFF;
@define-color workspacesbackground1 #FFFFFF;
@define-color workspacesbackground2 #CCCCCC;
@define-color bordercolor #FFFFFF;
@define-color textcolor1 #000000;
@define-color textcolor2 #000000;
@define-color textcolor3 #FFFFFF;
@define-color iconcolor #FFFFFF;

@import 'colors-waybar.css';

* {
	border: none;
	border-radius: 10;
    font-family: "JetbrainsMono Nerd Font" ;
	font-size: 15px;
	min-height: 10px;
}

window#waybar {
    background-color: alpha(@color4, 0.0);
    border-bottom: 0px solid #ffffff;
    /* color: #FFFFFF; */
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}


 #workspaces {
    margin: 3px 7px 3px 3px;
	padding-left: 5px;
    border: 0px;
    font-size: 14px;
	border-radius: 14px;
    color: @foreground;
	background-color: alpha(@background, 0.7);
}
#workspaces button {
    border: 0px;
    margin:4px 5px 4px 0px;
    padding:0px 4px 0px 4px;
    color: @foreground;
	/* transition: all 0.3s cubic-bezier( 0.81, 0.31, 0.33, 0.72 ); */
	transition: all 0.3s ease;
}
#workspaces button.active {
	/* background-size: 400% 400%; */
	min-width: 30px;
    color: @foreground;
    background: @color2;
}
#workspaces button:hover {
    color: @foreground;
    background: @color2;
    border-radius: 15px;
}


#custom-exit,
#clock,
#pulseaudio,
#temperature,
#window {
    background: @color2;
    margin: 5px 5px 5px 0px;
    padding: 0px 10px 0px 10px;
    border-radius: 12px;
    color:@foreground;
    font-size:14px;
    font-weight:normal;
}

#clock {
	font-weight:bold;
}

window#waybar.empty #window {
    background-color:transparent;
}


#disk,#memory,#cpu,#network,#bluetooth,#custom-slash{
    margin: 0px 4px 0px 3px;
    padding: 0px;
    font-size:14px;
    color:@foreground;
}
#hardware {
    background: @color2;
    margin: 5px 5px 5px 5px;
    padding: 0px 5px 0px 5px;
    border-radius: 12px;
    color:@foreground;
    font-size:14px;
    font-weight:normal;
}
/* #network.ethernet { */
/* 	color: green; */
/* } */
/* #network.disconnected, #bluetooth.no-controller{ */
/* 	color: red; */
/* } */

#custom-exit {
	padding-left: 7px;
	padding-right: 11px;
	margin-left: 0px;
}

#pulseaudio-slider {
	min-width: 100px;
}
